* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 5px 50px;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Abdulazizbbee_701 start */
.stats-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background: #f7f9fb;
  font-family: Arial, sans-serif;
}

.stats-left h2 {
  font-size: 28px;
  line-height: 2;
  margin-bottom: 10px;
  color: #333;
}

.stats-left h2 span {
  color: #2db573;
}

.stats-left p {
  color: #777;
  font-size: 14px;
}

.stats-right {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 25px 40px;
}

.stat-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.stat-item .icon {
  font-size: 26px;
  color: #26b46d;
}

.stat-item h3 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.stat-item p {
  margin: 0;
  font-size: 13px;
  color: #777;
}

/* Abdulazizbbee_701 end */
