*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container{
  max-width: 1440px;
  width: 100%;
  padding: 5px 50px;
  margin: 0 auto;
}
header{
  width: 100%;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* zaynabxon412 */
.books_1{
  text-align: center;
  align-items: center;
  justify-content: center;
}
.books {
text-align: center;
}

.books_2 {
  width: 120px;
  height: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: green;
  border-radius:3px ;
}
/* end */